<h2 class="head-line title_h2 text-center">
    <%= @fullname %>さんの会員詳細
</h2>
  <div class="row">
    <div class="col-xs-8">
      
      <div>
          顧客ID <%= @member.id %>
      </div>
      
      <div>
          氏名 <%= @fullname %>
      </div>
      
      <div>
          フリガナ <%= @fullname_kana %>
      </div>
      
      <div>
          郵便番号 <%= @member.postal_code %>
      </div>
      
      <div>
          住所 <%= @member.shipping_address %>
      </div>
      
      <div>
          電話番号 <%= @member.phone_number %>
      </div>
      
      <div>
          メールアドレス　<%= @member.email%>
      </div>
      
      <div>会員ステータス
        <% if @member.member_status == false %>
          <font color="green">有効</font>
        <% elsif @member.member_status == true %>
          <font color="red">退会済み</font>
        <% end %>
      </div>
      
    </div>
      
        <%= link_to "編集する",edit_admin_member_path(@member), class: "btn btn-success" %>
        <%= link_to " 注文履歴一覧を見る", admin_orders_path(@member), class: "btn btn-info" %>
        
  </div>