<div class="container-fluid">
  <div class="row">
    <div class="mx-auto top-img">
      <p>ようこそ、ながのCAKEへ<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
      </p>
    </div>
  </div>
  <div class="row justify-content-around">
    <h2>新着商品</h2>
    <% @products.each do |product| %>
    <div class="col product-item">
      <%= link_to product_path(product.id) do %>
        <%= attachment_image_tag(product.id, :image_id, :fill, 50, 50, fallback: "no_image.jpg") %>
      <% end %>
      <p><%= product.name %></p>
      <p><%= product.price %></p>
    </div>
    <% end %>
    <%= paginate @products %>

  </div>
</div>
